#wrapper{

    width: 50%;

    margin: 20px auto;

    border: 2px solid #dad7d7;

}

form{

    width: 50%;

    margin: 20px auto;

}

form div{

    margin-top: 5px;

}

img{

    float: left;

    margin: 5px;

    width: 280px;

    height: 120px;

}

#img_div{

    width: 70%;

    padding: 5px;

    margin: 15px auto;

    border: 1px solid #dad7d7;

}

#img_div:after{

    content: "";

    display: block;

    clear: both;

}